body{
    padding: 0;
    margin: 0;
    color: hsl(228, 12%, 48%);
  }
  #mobile-img{
    display: none;
}
  
  h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: black;
  }
  
  h4{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 14px;
  }
  p{
    font-size: 14px;
  }
  .image{
    height: 60vh;
  }
  .card{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

  .card-item{
    background-color: #fff;
    display: flex;
    width: fit-content;
    overflow: hidden;
    border-radius: 20px;
  }
  .info{
    width: 20vw;
    box-sizing: border-box;
  padding: 10px 30px;
  }

  .price{
    display: flex;
    align-items: center;
  }



  .first{
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: bolder;
    font-size: 2rem;
    padding-right: 17px;
  }



  .btn{
    background-color: hsl(158, 36%, 37%) ;
    border: none;
    font-weight:700;
    font-size: 16px;
    border-radius: 10px;
    height: 2.7rem;
    width: 100%;
    color: #fff;
    margin-top: 20px;
  }
  .btn:hover{
    cursor: pointer;;
    background-color: hsl(212, 21%, 14%);
  }

  .cart{
    padding-right: 10px;
  }


 